/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-mild: rgba($black-color, 0.6);
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$white-color};
  --global-highlight-color: #{$orange-color};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($black-color, "red", $space: rgb)},
    #{color.channel($black-color, "green", $space: rgb)},
    #{color.channel($black-color, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #{$black-color};

  --global-tip-block: #0084c7;
  --global-tip-block-bg: #dff1fe;
  --global-tip-block-text: #0084c7;
  --global-tip-block-title: #0084c7;
  --global-warning-block: #f59e0b;
  --global-warning-block-bg: #fdf7dc;
  --global-warning-block-text: #f59e0b;
  --global-warning-block-title: #f59e0b;
  --global-danger-block: #ef4444;
  --global-danger-block-bg: #feecec;
  --global-danger-block-text: #ef4444;
  --global-danger-block-title: #ef4444;
  --global-box1-border: #bbbbbb;
  --global-box1-bg: #ffffff;
  --global-box1-text: #215d42;
  --global-box1-title: #2d767d;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-mild: rgba($grey-color-light, 0.6);
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #555555;
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #{$grey-color-dark};
  --global-tip-block: #38ade2;
  --global-tip-block-bg: #2b363f;
  --global-tip-block-text: #38ade2;
  --global-tip-block-title: #38ade2;
  --global-warning-block: #f59e0b;
  --global-warning-block-bg: #3d372c;
  --global-warning-block-text: #f59e0b;
  --global-warning-block-title: #f59e0b;
  --global-danger-block: #f77171;
  --global-danger-block-bg: #4f2e30;
  --global-danger-block-text: #f77171;
  --global-danger-block-title: #f77171;
  --global-box1-border: #444444;
  --global-box1-bg: #202a30;
  --global-box1-text: #ffffff;
  --global-box1-title: #2d767d;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
